### Data Handling Confirmed

In [32]:
import pandas as pd

In [44]:
df_confirmed = pd.read_csv('../data/data_Deaths.csv')
df_confirmed.head()

,Country/Region,20200122,20200123,20200124,20200125,20200126,20200127,20200128,20200129,20200130,...,20220110,20220111,20220112,20220113,20220114,20220115,20220116,20220117,20220118,20220119
0,Afghanistan,0,0,0,0,0,0,0,0,0,...,7373,7374,7376,7376,7376,7378,7379,7381,7383,7386
1,Albania,0,0,0,0,0,0,0,0,0,...,3241,3247,3253,3255,3262,3265,3269,3271,3277,3283
2,Algeria,0,0,0,0,0,0,0,0,0,...,6349,6363,6372,6383,6393,6404,6412,6423,6435,6443
3,Andorra,0,0,0,0,0,0,0,0,0,...,141,141,141,141,142,142,142,142,142,142
4,Angola,0,0,0,0,0,0,0,0,0,...,1832,1840,1842,1847,1852,1857,1863,1866,1870,1877

In [45]:
df = df_confirmed.transpose()
df.columns = df.iloc[0]
df = df.drop("Country/Region") 
df = df.sort_index()
df.reset_index(inplace=True, drop=False)
df = df.rename(columns={'index': 'Date'})
df['Date'] = pd.to_datetime(df['Date'], format="%Y%m%d")
df

Country/Region,Date,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
0,2020-01-22,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2020-01-23,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2020-01-24,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2020-01-25,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2020-01-26,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
724,2022-01-15,7378,3265,6404,142,1857,120,117989,8018,2673,...,152395,6225,1513,1,5376,35480,5005,1988,3852,5238
725,2022-01-16,7379,3269,6412,142,1863,120,118040,8019,2692,...,152484,6243,1515,1,5380,35609,5005,1990,3860,5247
726,2022-01-17,7381,3271,6423,142,1866,120,118231,8020,2773,...,152577,6248,1518,1,5383,35609,5019,1991,3866,5258
727,2022-01-18,7383,3277,6435,142,1870,121,118420,8022,2843,...,153017,6253,1522,1,5383,35972,5027,1992,3873,5258
728,2022-01-19,7386,3283,6443,142,1877,121,118628,8025,2890,...,153378,6258,1525,1,5392,36114,5031,1994,3877,5266

In [46]:
df.to_csv("newData/Death.csv", index=False)

In [47]:
df.columns

Index(['Date', 'Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia',
       ...
       'United Kingdom', 'Uruguay', 'Uzbekistan', 'Vanuatu', 'Venezuela',
       'Vietnam', 'West Bank and Gaza', 'Yemen', 'Zambia', 'Zimbabwe'],
      dtype='object', name='Country/Region', length=197)

In [48]:
df_new = df[['Date']]
df_new[df.columns[1:]] = df[df.columns[1:]].diff()
df_new

C:\Users\Mhmd Syd\anaconda3\lib\site-packages\pandas\core\frame.py:3636: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
C:\Users\Mhmd Syd\anaconda3\lib\site-packages\pandas\core\frame.py:3636: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  self[k1] = value[k2]

Country/Region,Date,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
0,2020-01-22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2020-01-23,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2020-01-24,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2020-01-25,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2020-01-26,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
724,2022-01-15,2,3,11,0,5,0,88,3,52,...,288,11,2,0,0,139,0,0,8,0
725,2022-01-16,1,4,8,0,6,0,51,1,19,...,89,18,2,0,4,129,0,2,8,9
726,2022-01-17,2,2,11,0,3,0,191,1,81,...,93,5,3,0,3,0,14,1,6,11
727,2022-01-18,2,6,12,0,4,1,189,2,70,...,440,5,4,0,0,363,8,1,7,0
728,2022-01-19,3,6,8,0,7,0,208,3,47,...,361,5,3,0,9,142,4,2,4,8

In [49]:
df_new.iloc[0] = df.iloc[0] 
num = df_new._get_numeric_data()
num[num < 0] = 0
df_new

Country/Region,Date,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,...,United Kingdom,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
0,2020-01-22,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2020-01-23,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2020-01-24,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2020-01-25,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2020-01-26,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
724,2022-01-15,2,3,11,0,5,0,88,3,52,...,288,11,2,0,0,139,0,0,8,0
725,2022-01-16,1,4,8,0,6,0,51,1,19,...,89,18,2,0,4,129,0,2,8,9
726,2022-01-17,2,2,11,0,3,0,191,1,81,...,93,5,3,0,3,0,14,1,6,11
727,2022-01-18,2,6,12,0,4,1,189,2,70,...,440,5,4,0,0,363,8,1,7,0
728,2022-01-19,3,6,8,0,7,0,208,3,47,...,361,5,3,0,9,142,4,2,4,8

In [50]:
df_new.to_csv("newData/Death_new.csv", index=False)